@use '../global/variables' as *;  
@use '../global/mixins' as *;     
@use 'sass:color';               

/* Botón principal */
.button {
    margin-left: auto;
    margin-top: 1rem;
    background-color: $blue;    // Fondo azul
    color: $white;               // Texto blanco
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem;

    &:hover {
        background-color: color.adjust($blue, $lightness: 5%); // Cambio de color al pasar el mouse
    }

    p {
        margin-left: 0.5rem;
        font-family: $principal;
        font-weight: bold;
        display: none;               // Oculto en móvil
    }
}

/* Mostrar texto del botón en tablet y superior */
@include tablet {
    .button {
        p {
            display: block;
        }
    }
}
