@use './variables' as *;


h1, p{
    font-family: $principal;
    margin: 0;
}
h2, h3, h4{
    font-family: $subtitle;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.error {
    margin-top: 0.1rem;
    font-family: $subtitle;
    color: $red;
    font-size: .8rem;
  }