$phone: 480px;  // Móviles
$tablet: 768px; // Tablets
$desktop: 1025px; // Escritorio

@mixin phone {
  @media (min-width: #{$phone}) {
    @content;
  };
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  };
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  };
}
