@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Paytone+One&family=Poiret+One&display=swap');

/* Colores */
$yellow: #FCDC73;
$red: #E76268;
$blue: #193948;
$skyblue: #4FADC0;
$white: #FFF;
$black: #000;
$slate: #E2E8F0;

/* Fuentes */
$principal: "Paytone One", sans-serif;
$subtitle: "Funnel Sans", sans-serif;
$content: "Poiret One", sans-serif;

