@use '../global/variables' as *;
@use '../global/mixins' as *;
@use 'sass:color';

// Tarjeta de cada proveedor
.supplier__card {
  border: 1px solid $slate;       // Borde gris claro
  padding: 2rem;                  // Espaciado interno
  border-radius: 1.5rem;          // Bordes redondeados
  width: 100%;                     // Ocupa todo el contenedor padre
  margin-top: 1rem;                // Separación con otras tarjetas

  // Nombre del proveedor
  .supplier__name {
    display: flex;                 // Nombre en línea

    h3 {
      color: $black;
      font-family: $principal;
      font-size: 1.9rem;
    }
  }

  // Información del proveedor (tipo, contacto, ciudad, etc.)
  .supplier__info {
    h4 {
      color: $red;                 // Resaltar tipo o título
      font-family: $principal;
      font-style: italic;
      font-size: 1.4rem;
      margin: -0.5rem 0 0.5rem;   // Ajuste de márgenes
    }

    p {
      font-family: $subtitle;
      font-weight: bold;
      font-size: .8rem;

      span {
        font-weight: lighter;      // Información secundaria en lighter
      }
    }
  }
}

// Opciones de editar/eliminar proveedor (solo visibles en tablet/desktop)
.supplier__options {
  display: none;

  @include tablet {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    font-size: 1.8rem;

    // Botones de acción
    .option__edit,
    .option__delete {
      cursor: pointer;
      color: $blue;

      &:hover {
        color: color.adjust($blue, $lightness: 10%); // Cambio de color al pasar el mouse
      }
    }
  }
}

// Estilos para swipe actions (acciones de deslizamiento)
.my-leading-action,
.my-trailing-action {
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0.25rem;
  height: calc(100% - 0.5rem);
  width: calc(100% - 0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $principal;
}

// Acción principal (ej. editar)
.my-leading-action {
  background-color: $yellow;
}

// Acción secundaria (ej. eliminar)
.my-trailing-action {
  background-color: $red;
  color: $white;
}
