@use '../global/variables' as *;
@use '../global/mixins' as *;

// Estilo para el overlay que cubre toda la pantalla
.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
// Contenedor del formulario
.form-modal {
    background-color: $white; 
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    max-width: 60rem;
    height: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
        
    h2 {
        font-family: $principal;  
        color: $blue;
        font-size: 2rem;  
        margin-bottom: 1.5rem;
    }
    form{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

// Contenido del formulario
.form__content {
    display: flex;
    flex-direction: column;
    flex: 1; 

    label {
        font-family: $subtitle;
        font-weight: bold;
        font-size: 1rem;
    }
    
    input, select {
        border: none;
        background-color: $slate;
        padding: .6rem;
        border-radius: .5rem;
        font-style: italic;
    }
}

// Botón de registro
.button__register {
    border: none;
    font-family: $principal;
    margin-top: auto; 
    width: 100%;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    font-family: $subtitle;
    font-style: italic;
    text-align: center;

    &--error {
        background-color: #E76268;      
        color: white;                
    }
}

  